*{
   box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #F5F8FF;
    font-family: "Inter", sans-serif;

}
* h2{
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Serif", serif;
 }

 * p{
    font-size: 22px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #8987A1;
 }
.primary_font{
    font-family: "Inter", sans-serif;
}
.secondary_font {
    font-family: "Noto Serif", serif;
}
.container{
    max-width: 1140px;
    margin: 0px auto 0px auto;
    /* border: red 2px solid; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
.logo{
    width: 135px;
    height: 82px;
}
.menu{
    display: flex;
    gap: 48px;
}
.color1 {
    color: #252432;
    font-size: 18px;

}
.home{
    font-weight: bolder;
}

.color2 {
    color: #8987A1;
    font-size: 18px;
    font-weight:400;}
.color3{
    color: #E95A08;
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Serif", serif;
}
.banner{
    margin-top: 120px;
    display: flex;
    align-items: end;
}
.h1color{
    color: #E95A08;
}
.bannerh1{
    font-size:65px ;
    font-weight: 800;
}
.bannerp{
    margin-top: 13px;
    font-size: 22px;
    font-weight: 400;
    color: #8987A1;
}
.content_img{
    display: flex;
}
.ourplants{
    margin-top: 120px;
    margin-bottom: 40px;
    display: block;
    align-items: center;
    text-align: center;
}
.pplants{
    width: 888px;
    height: 22px;
    margin: 20px auto 0px auto;
}

.products_card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 70px;
}
.products_1{
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}
.p_img{
    margin-bottom: 30px;
}
.p_title{
    margin-bottom: 20px;
    color:#252432;
}
.p_price{
    margin-bottom: 25px;
    color: #252432;
    font-weight: 600;
}
.btn1{
    padding: 15px 50px;
    background-color: #E95A08;
    border: none;
    width: 100%;

}
.products_card button a{
    text-decoration: none;
    background-color: #E95A08;
    color: #F5F8FF;
    font-size: 22px;
    text-transform: uppercase;
}
.aboutsection{
    margin-top: 210px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.img2{
    background-color: transparent;
    position: absolute;
    top: -120px;
    right: 460px;
    width: 285px;
    height: 285px;
}
.textsection{
    margin-top: 35px;
    margin-left: 30px;
    padding: 50px;
}
.textsection h2{
    margin-bottom: 30px;
}
.textsection ul li{
    margin-bottom: 20px;
    color: #8987A1;
    font-size: 18px;
    font-weight: 400;
}
.imgbtn{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgb1{
    border-radius: 22px;
}
.imgbtn1{
    position: relative;

}
.imoff1{
    position: absolute;
    top: 90px;
    right: 100px;
    background-color: transparent;
}
.imgb1{
    filter: brightness(40%);
}
.ih4{
   background-color: transparent;
    color: #F5F8FF;
    margin-bottom: 10px;
    font-family: "Noto Serif", serif;
    font-size: 20px;
    font-weight: bold;


}
.im1{
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.im1 a{
    background-color: transparent;
    text-decoration: underline;
    color: #F5F8FF;
    font-size: 18px;
}
.imoff2 {
    position: absolute;
    bottom: 80px;
    right: 100px;
    background-color: transparent;
}
.imgbtn2{
    position: relative;
    align-items: center;
    text-align: center;
}
.imoff3{
    position: absolute;
    top: 180px;
    left: 230px;
    background-color: transparent;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.ih3{
    background-color: transparent;
    color: #F5F8FF;
    margin-bottom: 10px;
    font-family: "Noto Serif", serif;
    font-size: 30px;
    font-weight: bold;}
.imgbtn2 a{
    background-color: transparent;
    color: #F5F8FF;
    text-decoration: underline;
    font-size: 24px;
}
.join{
    margin: 120px 0px 80px 0px;
    align-items: center;
    text-align: center;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    padding: 200px ;
}
.join h2{
    background-color: transparent;
    color: #F5F8FF;
    margin-bottom: 30px;
}
.email1{
    width: 75%;
    height: 50px;
    border: none;
    padding-left: 30px;
    font-size: 18px;
    
}
.btn2{
    width: 25%;
    height: 50px;
    border: none;
    background-color: #E95A08;
    font-size: 18px;
    font-weight: 400;
    color: #F5F8FF;
    margin-left: -10px;
}
.footerall{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    margin-bottom: 50px;
   
}

.footer1 img{
    margin-bottom: 20px;
}
.footer1{
    margin-right: 20px;
    padding: 0px 10px 0px 10px;
}
.foop{
    margin-right: 70px;
}
.footerall ul li{
    list-style: none;
    margin-bottom: 30px;
}
.footerall ul li a{
    text-decoration: none;
    color: #8987A1;
    font-size: 18px;
    
}
.footer4 img{
   margin-left: 24px;
    
}



@media screen and ( max-width: 576px) {

    .bannerh1{
        font-size: 40px;
    }

    * h2 {
            font-size: 30px;
            font-weight: bold;
            font-family: "Noto Serif", serif;
        }
        .color3{
            font-size: 30px;
        }
    
        * p {
            font-size: 16px;
            font-weight: 400;
            font-family: "Inter", sans-serif;
            color: #8987A1;
        }
    .about_us{
        display: none;
    }
         .home {
             display: none;
         }
         .shop{
            display: none;
         }
         .logo {
            width: 63px;
            height: 38px;
         }
    nav{
        margin: 0 10px 0 10px;
    }

    .banner{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
        .products_card {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            margin-top: 70px;
            
}
    .pplants {
    width: 80%;
    height: 22px;
    margin: 20px auto 0px auto;}
    .pp{
        display: none;
    }
        .aboutsection {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
        }
    
        .img2 {
            display: none;
        }
                .imgbtn {
                    display: flex;
                    flex-direction: column;
                }
                .imgbtn img{
                    width: 100%;
                    height: 100%;
              
                }
        .imoff3 {
            top: 100px;
            left: 100px;}
        .ih3{
            font-size: 24px;
        }

        .imgbtn2 a {
            font-size: 18px;
        }
.join {
    padding: 100px 30px 100px 30px;
    background-repeat: no-repeat;
}
.footerall {
    display: block;
    margin: 50px auto 50px 20px;}
.footer1 {
    padding: 0px;
}

}